@import "normalize.css/normalize.css";

:root {
  --fg-color: #333;
  --bg-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg-color: #cccccc;
    --bg-color: #0c0c0c;
  }

  a {
    color: #376fea;
  }

  a:hover,
  a:visited {
    color: #b4009e;
  }
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: var(--fg-color);
  background: var(--bg-color);
  /* min-block-size: 100svb; */
}

a[rel~="external"]::after {
  content: '↗';
  margin-left: 4px;
  font-size: smaller;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.container {
  padding: 0 1rem;
  max-width: 1000px;
  margin-inline: auto;
  min-block-size: 100svb;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1rem 0;
}

.header .title {
  margin: 0;
}

.header .title a {
  color: inherit;
  text-decoration: none;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  -moz-row-gap: 1rem;
  -webkit-row-gap: 1rem;
  row-gap: 1rem;
}

.tac {
  text-align: center;
}

.footer {
  font-size: .75rem;
  text-align: right;
  color: #94A3B8;
  position: sticky;
  padding: 8px 0;
  inset-block-start: 100%;
}